@section imagenes {
    <img src="~/images/flounder.jpg" 
         style="width: 150px; height:150px"/>
}

@section footer {
    <h4 style="color:fuchsia">
        Contenido de MVC Core
    </h4>
}

@section title {
    Vista de contenido
}

<h1 style="color:blue">Vista de contenido</h1>
