<!doctype html>
<html>
    <head>
        <title>Plantilla principal Empty</title>
    </head>
    <body>
        <h1>PLANTILLA PRINCIPAL PROYECTO EMPTY</h1>
        <hr/>
        <div style="background-color: lightgreen">
            ZONA DE VISTAS
        </div>
        <hr/>
    </body>
</html>