<!doctype html>
<html>
    <head></head>
    <body>
        <h1>Super plantilla NUEVA!!!</h1>
        <div style="background-color: lightcoral">
            ZONA DE VISTAS
            @RenderBody()
        </div>
    </body>
</html>